*{
    font-family: 'Delicious Handrawn', cursive;
}
h1{
    background-color:darkolivegreen;
    font-size: 60px;
    color: aquamarine;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    background-color: coral;
    font-style: 20px;
    color: darkgoldenrod;
}
#p1{ background-color:red ;
    font-style: 20px;
    color:green;
}
.p2{background-color:azure ;
    font-style: 20px;
    color:black;
    font-style:inherit;

}
.p2:hover{
    background-color: aqua;
    color: chartreuse;
}
img{
    width: 100px;
    height: 60px;
}
#sujal{
    text-align: center;
    text-size-adjust: 135px;
    background-color: antiquewhite;
}
img[alt]{
    color: black;
    background-color: blue;
}
body{
    background:linear-gradient(red,green,blue) ;
}